body {
 margin: 0px;
  padding: 0px;
   font-family: sans-serif;
}

#display_image {
   border: 1px dashed #9C9898;
}

#gradients {
   padding-bottom: 25px;
}
.gradient {
   padding: 5px 5px 0px 0px;
}
.gradient > canvas {
   padding-left: 10px;
   float:right;
}